body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #74b9ff, #81ecec);
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: start;
    padding-top: 40px;
}

.container {
    text-align: center;
}

#loadBtn {
    padding: 10px 25px;
    font-size: 18px;
    cursor: pointer;
    background: #0984e3;
    color: white;
    border: none;
    border-radius: 8px;
    transition: 0.3s;
}

#loadBtn:hover {
    background: #74b9ff;
}

.card {
    margin-top: 25px;
    padding: 20px;
    background: white;
    width: 320px;
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    transition: 0.3s;
}

.hidden {
    display: none;
}

.card img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card p {
    font-size: 18px;
    margin: 8px 0;
}
